<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Algorithms</title>
	<link rel="stylesheet" href="https://igoradamenko.com/awsm.css/v2/css/awsm.css">
	<style>
        .Bd {
            border: 1px solid black;
        }

        .C\(red\) {
            color: red;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }

        .P\(0\) {
            padding: 0;
        }

        .M\(0\) {
            margin: 0;
        }

        .P\(10px\) {
            padding: 10px;
        }
	</style>

</head>
<body>
<main>
	<!--/*@thymesVar id="algorithms" type="java.util.List<io.github.janekkodowanie.ezML.algorithm.Algorithm>"*/-->
	
	<dl th:each="algorithm : ${algorithms}" class="Bd P(10px)">
		<dt>
			<a th:href="'/algorithms/desc?name=' + ${algorithm.name}"> <!-- Create a hyperlink with the algorithm's name -->
				<span th:text="${algorithm.name}">Algorithm Name</span> <!-- Display the algorithm name -->
			</a>
		</dt>
	</dl>
	
	<div th:if="${algorithm != null}">
		<h2>Search Result</h2>
		<p th:text="${algorithm.getName()}"></p>
	</div>

</main>
</body>
</html>