<!DOCTYPE html>
<html lang="en">
<head>
    <title>ChatBot</title>
</head>
<body>
<label for="inputData">Enter Prompt:</label>
<input type="text" id="inputData">
<button onclick="processData()">Submit</button>
<div id="outputData"></div>

<script>
    function processData() {
        const inputData = document.getElementById("inputData").value;
        
        console.log(inputData);
        
        fetch('/bot', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ inputData: inputData })
        })
              .then(response => {
                  const reader = response.body.getReader();
                  
                  function processStream({ done, value }) {
                      if (done) return;
                      
                      /* todo comment */
                      const uint8Array = new Uint8Array(value);
                      const text = new TextDecoder("utf-8").decode(uint8Array);
                      
                      const outputElement = document.getElementById("outputData");
                      outputElement.innerHTML += text;
                      
                      return reader.read().then(processStream);
                  }
                  
                  
                  return reader.read().then(processStream);
              })
              .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>
