<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="https://igoradamenko.com/awsm.css/v2/css/awsm.css">
</head>
<body>
<header>
    <h1>Ez Machine Learning</h1>
    <p>All machine learning algorithms in one place.</p>
    <nav>
        <ul>
            <li>
                <a href="/algorithms">Algorithms</a>
            </li>
            <li>
                <a href="/sections">Sections</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>
