<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Algocja: Sections</title>
	<link rel="stylesheet" href="https://igoradamenko.com/awsm.css/v2/css/awsm.css">
	<style>
        .Bd {
            border: 1px solid black;
        }

        .C\(red\) {
            color: red;
        }

        .Bdc\(red\) {
            border-color: red !important;
        }

        .P\(0\) {
            padding: 0;
        }

        .M\(0\) {
            margin: 0;
        }

        .P\(10px\) {
            padding: 10px;
        }
	</style>
	
	<script>
        function toggleForm() {
            let form = document.getElementById("dataForm");
            form.style.display = (form.style.display === "none" || form.style.display === "") ? "block" : "none";
            
            let button = document.getElementById("toggleButton");
            if (button.innerHTML === '+') {
                button.innerHTML = '-';
            } else {
                button.innerHTML = '+';
            }
        }
	</script>
	
</head>
<body>
<main>
	<dl th:each="section : ${sections}" class="Bd P(10px)">
		<dt>
			<a th:href="'/sections/section?name=' + ${section.name}"> <!-- Create a hyperlink with the algorithm's name -->
				<span th:text="${section.name}">Algorithm Name</span> <!-- Display the algorithm name -->
			</a>
		</dt>
	</dl>
	
	
	<div th:if="${sectionReadModel != null}">
		<h2>Search Result</h2>
		<p th:text="${sectionReadModel.getName()}"></p>
		<dl th:each="algorithm : ${sectionReadModel.getAlgorithms()}" class="Bd P(10px)">
			<dt>
				<a th:href="'/algorithms/desc?name=' + ${algorithm.name}"> <!-- Create a hyperlink with the algorithm's name -->
					<span th:text="${algorithm.name}">Algorithm Name</span> <!-- Display the algorithm name -->
				</a>
			</dt>
		</dl>
		
		<button id="toggleButton" onclick="toggleForm()">+</button>
		<form action="/sections/section/add" method="post" th:object="${algorithmWriteModel}" id="dataForm" style="display: none;">
			<label for="name">Algorithm Name:</label>
			<input type="text" th:field="*{name}" id="name" name="name"><br><br>
			
			<label for="description">Algorithm Description:</label>
			<textarea th:field="*{description}" id="description" name="description" rows="4" cols="50"></textarea><br><br>
			
			<input type="hidden" name="sectionName" th:value="${sectionReadModel.name}" />
			<input type="submit" value="Submit">
		</form>
	</div>
	




</main>

</body>
</html>